In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [94]:
df = pd.read_csv('D:\Python\ML Live\Modular1\ML_Live-\data\Advertising.csv')

In [95]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [96]:
X = df.drop('sales', axis = 1)
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [97]:
y = df['sales']
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=101)

In [100]:
from sklearn.preprocessing import StandardScaler

In [101]:
scaler = StandardScaler()

In [102]:
X_train_scaled = scaler.fit_transform(X_train)

In [103]:
X_test_scaled = scaler.fit_transform(X_test)

### Model 1

In [104]:
from sklearn.linear_model import Ridge

In [105]:
model = Ridge(alpha=1)

In [106]:
model.fit(X_train_scaled, y_train)

Ridge(alpha=1)

In [107]:
y_pred = model.predict(X_test_scaled)

In [108]:
from sklearn.metrics import mean_squared_error

In [109]:
mean_squared_error(y_pred, y_test)

3.339371038444087

In [110]:
RMSE = np.sqrt(mean_squared_error(y_pred,y_test))
RMSE

1.8273946039222309

### Model 2

In [111]:
model2 = Ridge(alpha = 100)

In [112]:
model2.fit(X_train_scaled, y_train)

Ridge(alpha=100)

In [113]:
y_pred2 = model2.predict(X_test_scaled)

In [114]:
RMSE2 = np.sqrt(mean_squared_error(y_pred2, y_test))
RMSE2

2.909928819811334

#### instead of making different models for n comparing the error we use CV 

#### Manually splting the data into train, test & validation.

#### model 3 & 4

In [115]:
X_train, X_other, y_train, y_other = train_test_split( X, y, test_size=0.3, random_state=101)

In [116]:
# test size = 0.5( 50% of 30% data)
X_eval, X_test, y_eval, y_test = train_test_split(X_other, y_other, test_size=0.5, random_state= 101)

In [117]:
len(X_train)   # 70% of df

140

In [118]:
len(X_other)   # 30% of df

60

In [119]:
len(X_eval)   # 50% of other, 15% of df

30

In [120]:
len(X_test)   # 50% of other, 15% of df

30

In [121]:
X_train_scaled_cv = scaler.fit_transform(X_train)
X_other_scaled_cv = scaler.fit_transform(X_other)
X_eval_scaled_cv = scaler.fit_transform(X_eval)    # validation data
X_test_scaled_cv = scaler.fit_transform(X_test)

### model 3

In [122]:
model3 = Ridge(alpha = 100)
model3.fit(X_train_scaled_cv, y_train)

Ridge(alpha=100)

In [123]:
y_eval_pred  = model3.predict(X_eval_scaled_cv)

In [124]:
RMSE_eval_3 = np.sqrt(mean_squared_error(y_eval_pred,y_eval))
RMSE_eval_3

2.8707128055519595

### model 4

In [125]:
model4 = Ridge(alpha = 1)
model4.fit(X_train_scaled_cv, y_train)

Ridge(alpha=1)

In [126]:
new_pred_eval = model4.predict(X_eval_scaled_cv)

In [127]:
RMSE_new_eval_4 = np.sqrt(mean_squared_error(new_pred_eval,y_eval))
RMSE_new_eval_4

1.8106261777385357

In [128]:
y_final_test_pred = model4.predict(X_test_scaled_cv)

In [129]:
RMSE_test_4 = np.sqrt(mean_squared_error(y_test, y_final_test_pred))
RMSE_test_4

1.8352770059279278

# Cross_Val_Score(k-fold CV)

In [130]:
#   CREATE X & y
X = df.drop('sales', axis = 1)
y = df['sales']


#   TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
    
    
#   SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.fit_transform(X_test)

In [131]:
model_1 = Ridge(alpha = 100)

In [132]:
from sklearn.model_selection import cross_val_score

In [133]:
scores = cross_val_score(model_1, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [134]:
scores

array([-2.31243044, -1.74653361, -2.56211701, -2.01873159, -2.27951906])

In [135]:
abs(scores.sum()/5)

2.1838663427053207

In [136]:
scores.mean()

-2.1838663427053207

In [137]:
model_2 = Ridge(alpha = 1)

In [138]:
scores_model_2 = cross_val_score(model_2, X_train, y_train, scoring='neg_mean_squared_error', cv =10)

In [139]:
scores_model_2

array([-1.45717399, -1.5553078 , -1.23877012, -0.76893775, -1.43448944,
       -1.4943158 , -1.08136203, -1.25001123, -1.58097132, -1.22332553])

In [140]:
abs(scores_model_2.mean())

1.3084665007144651

In [141]:
model2.fit(X_train, y_train)

Ridge(alpha=100)

In [142]:
y_final_test_pred2 = model2.predict(X_test)

In [143]:
RMSE_CV = np.sqrt(mean_squared_error(y_test, y_final_test_pred2))
RMSE_CV

2.909928819811334

In [144]:
from sklearn.model_selection import cross_validate

In [145]:
model_cross_validation = Ridge(alpha = 100)

In [146]:
scores_cross_validation = cross_validate(model_cross_validation, X_train, y_train,
                                         scoring=['neg_mean_squared_error','neg_median_absolute_error'], cv=10)

In [147]:
scores_cross_validation = pd.DataFrame(scores_cross_validation)
scores_cross_validation

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_median_absolute_error
0,0.000000,0.000000,-1.810212,-0.954050
1,0.000000,0.000000,-2.541958,-1.437208
2,0.000000,0.000000,-1.469594,-0.982663
3,0.000000,0.004002,-1.862769,-1.571569
4,0.000000,0.000000,-2.520697,-2.278097
5,0.002006,0.000000,-2.459995,-1.786195
6,0.000000,0.000000,-1.451971,-0.980528
7,0.000000,0.000000,-2.377395,-2.037711
8,0.000000,0.000000,-2.443344,-1.956082
9,0.000000,0.000000,-1.899797,-1.531495

In [148]:
scores_cross_validation.mean()

fit_time                          0.000201
score_time                        0.000400
test_neg_mean_absolute_error     -2.083773
test_neg_median_absolute_error   -1.551560
dtype: float64

In [149]:
model_cross_validation.fit(X_train, y_train)

Ridge(alpha=100)

In [150]:
y_final_test_pred3 = model_cross_validation.predict(X_test)

In [151]:
RMSE_cross_validation = np.sqrt(mean_squared_error(y_test, y_final_test_pred3 ))
RMSE_cross_validation

2.909928819811334

# GridSearchCV
#### used for multiple hyperparameter

In [152]:
#   CREATE X & y
X = df.drop('sales', axis = 1)
y = df['sales']


#   TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
    
    
#   SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test  = scaler.fit_transform(X_test)

In [153]:
from sklearn.linear_model import ElasticNet

In [154]:
base_elastic_model = ElasticNet()

In [156]:
param_frid = {'alpha' : [0.1, 1, 10 ,100], 'l1_ratio' : [0.1, 0.5, 0.7, 0.9, 1]}

In [157]:
from sklearn.model_selection import GridSearchCV

In [170]:
grid_model = GridSearchCV(estimator = base_elastic_model, param_grid= param_frid,
                          scoring='neg_mean_squared_error',cv=5, verbose =5)

# verbose just give more information

In [171]:
grid_model.fit(X_train,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-3.453 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-1.405 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-5.789 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-2.187 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-4.646 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-3.325 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-1.428 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-5.596 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-2.163 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-4.452 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-3.270 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-1.442 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-5.502 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-2.164 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-4.357 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-3.221 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-1.465 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-5.416 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-2.173 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-4.264 total time=   0.0s
[CV 1/5] END ............alpha=0.1, l1_ratio=1;, score=-3.207 total time=   0.0s
[CV 2/5] END ............alpha=0.1, l1_ratio=1;, score=-1.480 total time=   0.0s
[CV 3/5] END ............alpha=0.1, l1_ratio=1;, score=-5.376 total time=   0.0s
[CV 4/5] END ............alpha=0.1, l1_ratio=1;, score=-2.182 total time=   0.0s
[CV 5/5] END ............alpha=0.1, l1_ratio=1;, score=-4.218 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.1;, score=-9.827 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.1;, score=-5.262 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.1;, score=-11.875 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.1;, score=-7.449 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.1;, score=-8.542 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.5;, score=-8.707 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.5;, score=-4.214 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.5;, score=-10.879 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.5;, score=-6.205 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.5;, score=-7.173 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.7;, score=-7.921 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.7;, score=-3.550 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.7;, score=-10.025 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.7;, score=-5.380 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.7;, score=-6.325 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.9;, score=-6.984 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.9;, score=-2.790 total time=   0.0s
[CV 3/5] END ............alpha=1, l1_ratio=0.9;, score=-8.997 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.9;, score=-4.415 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.9;, score=-5.546 total time=   0.0s
[CV 1/5] END ..............alpha=1, l1_ratio=1;, score=-6.469 total time=   0.0s
[CV 2/5] END ..............alpha=1, l1_ratio=1;, score=-2.391 total time=   0.0s
[CV 3/5] END ..............alpha=1, l1_ratio=1;, score=-8.410 total time=   0.0s
[CV 4/5] END ..............alpha=1, l1_ratio=1;, score=-3.894 total time=   0.0s
[CV 5/5] END ..............alpha=1, l1_ratio=1;, score=-5.106 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.1;, score=-27.385 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.1;, score=-19.160 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.1;, score=-27.635 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.1;, score=-24.154 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.1;, score=-18.968 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.5;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.5;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.5;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.7;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.7;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.7;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.9;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.9;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.9;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.9;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.9;, score=-21.698 total time=   0.0s
[CV 1/5] END ............alpha=10, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END ............alpha=10, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END ............alpha=10, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END ............alpha=10, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END ............alpha=10, l1_ratio=1;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.1;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.1;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.1;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.1;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.1;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.5;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.5;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.5;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.5;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.5;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.7;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.7;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.7;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.7;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.7;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.9;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.9;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.9;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.9;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.9;, score=-21.698 total time=   0.0s
[CV 1/5] END ...........alpha=100, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END ...........alpha=100, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END ...........alpha=100, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END ...........alpha=100, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END ...........alpha=100, l1_ratio=1;, score=-21.698 total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 1]},
             scoring='neg_mean_squared_error', verbose=5)

In [172]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [173]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [176]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000618,0.001235,0.000802,0.001604,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,5
1,0.000800,0.001600,0.000800,0.001600,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,4
2,0.001601,0.001961,0.000000,0.000000,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,3
3,0.001593,0.001951,0.000000,0.000000,0.1,0.9,"{'alpha': 0.1, 'l1_ratio': 0.9}",-3.221397,-1.465339,-5.416447,-2.173493,-4.263887,-3.308112,1.417693,2
4,0.000800,0.001600,0.002311,0.001893,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1